@import './var.sass'
@import '~gemini-scrollbar/gemini-scrollbar.css'
.back
    left: auto
    top: auto
    right: 20px
    bottom: 20px
.container 
    position: relative
    width: 100%
    height: 100%
    overflow: hidden
    background-color: #ffb62a
    &__html, &__animation 
        padding: 20px
        width: 100%
        height: 100%
        position: absolute
        background-color: #1a1713
        display: flex
        flex-direction: column
    &__html 
        top: 0
        left: -50%
        clip-path: polygon(40.1% 0, 60.1% 100%, 0% 100%, 0% 0%)
    &__animation 
        top: 0
        right: -50%
        clip-path: polygon(40% 0, 60% 100%, 100% 100%, 100% 0)
.html
    &__header
        font-family: 'Bungee', cursive, sans-serif
        font-size: 36px
        color: $orange
        height: 10%
    &__box
        overflow: auto
        height: 90%
    &__list
        list-style: none
        display: flex
        flex-direction: column
    &__elem
        height: 140px
        border: 2px solid $orange
        border-radius: 10px
        width: 500px//test
        margin: 6px 0 10px
        padding: 2px
        display: flex
        justify-content: space-between
        background-color: lighten($black, 14%)
        opacity: 0
    &__img
        height: 100%
        width: auto
        border-bottom-left-radius: 8px
        border-top-left-radius: 8px
        display: inline-block
        vertical-align: middle
        position: relative
    &__link
        display: block
        height: 100%
        width: 80px
        border-bottom-right-radius: 8px
        border-top-right-radius: 8px
        background-color: $orange
        color: $black
        font-size: 32px
        text-align: center
        line-height: 132px
        transition: all .3s ease
        &:hover
            text-decoration: none
            color: inherit
            width: 90px
.animation
    &__header
        @extend .html__header
        text-align: right
    &__box
        @extend .html__box
    &__list
        @extend .html__list
        align-items: flex-end
    &__elem
        @extend .html__elem
    &__link
        @extend .html__link
        border-bottom-right-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 8px
        border-top-left-radius: 8px
    &__img
        @extend .html__img        
        border-bottom-left-radius: 0
        border-top-left-radius: 0
        border-bottom-right-radius: 8px
        border-top-right-radius: 8px

@import './media.sass'