doctype:html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width initial-scale=1.0')
        title My Projects
        link(rel="apple-touch-icon" sizes="180x180" href=require("./../img/favicon/apple-touch-icon.png"))
        link(rel="icon" type="image/png" sizes="32x32" href=require("./../img/favicon/favicon-32x32.png"))
        link(rel="icon" type="image/png" sizes="16x16" href=require("./../img/favicon/favicon-16x16.png"))
        link(rel="mask-icon" href=require("./../img/favicon/safari-pinned-tab.svg") color="#2caace")
        style.
            html {
                background-color: #ffb62a
            }
            body {
                opacity: 0
            }
    body.container
        .container__html
            h2.html__header HTML
            .html__box
                ul.html__list
                    li.html__elem
                        a.html__link
                    li.html__elem
                        a.html__link
                    li.html__elem
                        a.html__link
                    li.html__elem
                        a.html__link
                    li.html__elem
                        a.html__link
                    li.html__elem
                        a.html__link
        .container__animation
            h2.animation__header Animation
            